html, body {
  margin: 0;
  margin-top: 5px;
  width: 100%;
  height: 100%;
  background: rgb(233, 255, 252);
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(62, 62, 62);
}

#wrapper {
  position: relative;
  border-radius: 50%;
  background-color: skyblue;
  height: 90vw;
  margin: 10px;
  overflow: hidden;
}

#sky-top div {
  position: absolute;
  border-radius: 50%;
  filter: brightness(1.08) blur(2px);
}
.sky1 {
  background-color: rgb(206, 206, 206);
  width: 60vw;
  height: 10svh;
  transform: translate(25vw, 4svh);
  z-index: 20;
}
.sky2 {
  background-color: rgb(218, 218, 218);
  width: 150px;
  height: 80px;
  transform: translate(41vw, 2svh);
  z-index: 21;
}
.sky3 {
  background-color: rgb(193, 193, 193);
  width: 150px;
  height: 80px;
  transform: translate(0vw, 4svh);
  z-index: 18;
}
.sky4 {
  background-color: rgb(175, 175, 175);
  width: 150px;
  height: 80px;
  transform: translate(15vw, 8svh);
  z-index: 17;
}
.sky5 {
  background-color: rgb(198, 198, 198);
  width: 150px;
  height: 80px;
  transform: translate(57vw, 8svh);
  z-index: 16;
}
.sky6 {
  background-color: rgb(225, 225, 225);
  width: 60vw;
  height: 10svh;
  transform: translate(1vw, -2svh);
  z-index: 24;
}
.sky7 {
  background-color: rgb(209, 209, 209);
  width: 40vw;
  height: 10svh;
  transform: translate(50vw, -2svh);
  z-index: 23;
}
.sky8 {
  background-color: rgb(188, 188, 188);
  width: 30vw;
  height: 6svh;
  transform: translate(70vw, 5svh);
  z-index: 22;
}

#sol {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items:center;

  transform: translateY(25vw);
  z-index: 19;
}
#sun-body {
  margin-left: 25%;
  width: 90px;
  height: 90px;
  background-color: gold;
  transform: translate(50px, 16px);
  border-radius: 50%;
  border-radius: 50%;
  box-shadow: 0px 0px 9px 4px #fbed9f;
  overflow: hidden;
}
.ray {
  position: absolute;
  width: 8px;
  height: 30px;
  background-color: goldenrod;
  box-shadow: 0px 0px 9px 4px #daa520;
  border-radius: 5px;
}
#rays {
  transform-origin: 4px 16px;
}

#mani {
  position: absolute;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  background-color: rgb(196, 206, 214);
  left: 35vw;
  top: 38vw;
  overflow: hidden;
  box-shadow: 0px 0px 9px 4px #ffffff;
  z-index: 20;
}
#shading {
  width: 28vw;
  height: 28vw;
  border-radius: 50%;
  background-color: rgb(225, 232, 233);
  transform: translate(-5vw, -2svh);
}



#timaRammi {
  display: flex;
  width: 100%;
  justify-content: center;
}
#timi {
  background-color: rgb(235, 235, 235);
  padding: 5px;
  width: 80vw;
  border: 5px solid rgb(62, 62, 62);
  font-weight: bold;
  border-radius: 30px;
  text-align: center;
  margin: 0;
  font-size: 15vw;
}
#sliderLeft {
  position: absolute;
  font-size: 15vw;
  opacity: 0.5;
  margin-top: 8px;
  margin-left: -40vw;
}
#sliderRight {
  position: absolute;
  font-size: 15vw;
  opacity: 0.5;
  margin-top: 8px;
  margin-left: 40vw;
}

#flik {
  background-color: rgb(235, 235, 235);
  background-image: url("");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 20px;
  border-radius: 40px;
  border: 5px solid rgb(62, 62, 62);
  height: 40svh;
}
#flikLysing {
  margin: 8px;
  font-size: 7vw;
}

#hitastig, #vindur, #sky {
  font-size: 8vw;
}